#text{

    text-overflow: ellipsis;
    overflow: hidden;
white-space: nowrap;
color: rgb(29, 61, 8);
padding-left: 2ch;

border-right: 1px solid #000;



font-size: 1.0em;
line-height: 2.7em;
height: 2.7em;
// text-align: center;

}