
    <div class="row menutop row">
        
       
      <div class="col-4" (click)="goBack()">
        <i class="fas left fa-angle-left"  ></i>
      </div>
         
        <div class="col-8">
          <p id="logo" >{{dataFactoryService.GetProject}}</p>
        </div>
           


    </div>

<div class="body">

    <input type="button" class="btn  btn-success" value="Create" (click)="createProject()"/>
                 
    <div  class="col-12 item " *ngFor="let item of pentestApiService.GetProjects; index as index " [class.active]="selectedItem == index"  [class.highlight]="highlightedItem == index"   (mouseleave) ="onLeave(index)" (click)="goTo(index)"  (mouseenter) ="onEnter(index)"  > 
 
      <app-menu-item   [item]="item" ></app-menu-item>
    </div>
</div>
    