.item{
    padding: 0px;
    border-bottom: 3px solid #26293b;
   
}




.highlight{
    padding: 0px;
    border-bottom: 3px solid rgb(16, 107, 211);
    background: #343749;
}

.active{
    padding: 0px;
    border-bottom: 3px solid #99c432;
    background: #99c432;
}


.leftbtn{
    color: #fff;
    height: 100%;
    padding: 1rem;
    margin: 0rem;
    font-weight: 10;
    // font-size: 2rem;
}

#back{
    color: #fff;
}
.navbtnContainer{
    align-self: center;
}
img{
    margin-left: 0.6rem;
   width: 4rem;
    height:4rem;
    // padding: 0.5rem;
}

.navbar-brand{
    padding: 0px;
    margin: 0px;
}

.left{
    max-width: 100%;
    max-height: 100%;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 10;
}

#logo{
    
    // padding-top: 1rem;
    line-height: 4rem;
    margin: 0px;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 100;

    white-space: nowrap;

}

.back{
    background: #fff;
}

.menutop{
    padding: 0px;
    margin: 0px;
}

.menuztitle{
    margin: 0px;
    padding: 0px;
    line-height: 4rem;
    font-size: 2rem;
    margin-top: 1rem;
}

.logo-left {

    font-size: 4ren;
}


.navbar{
    background: #26293b;

    margin: 0px;
    padding: 0px;
}