<div class="row bomb " [class.first]="position "  >

      <!-- <fa-icon icon="angular"></fa-icon> -->
      <!-- <div class="col-img"> -->
          <!-- <i class="fab fa-ellipsis"></i> -->
          <!-- <img src="https://www.w3schools.com/bootstrap4/newyork.jpg" class="rounded-circle img-responsive" alt="Cinque Terre"> -->
      <!-- </div> -->
      <div class="col-text align-center">
        <span class="align-center">
            <p class="text align-text-bottom font-weight-light">{{item['title']}}</p>
      
        </span>
     </div>
     
  </div>
