<div class="col-12">
    <!-- <h4 class="card-title">Panel title</h4> -->

    <div id="list-item" class="row ">

        <!-- <a class=" z-depth-3 btn-floating btn-lg purple-gradient"><i class="fa fa-bolt"></i></a> -->
        <!-- <div> -->
        <div id="method">
            <app-text-field [text]="item.method"></app-text-field>

        </div>
        <div  id="url">
            <div class="col-12 column">
                    <app-text-field text=" http://collectui.com/designers/znkf/ui-interaction">

                    </app-text-field>

                   
                <!-- {{item['url'].substr(0,100)}} -->
            </div>

        </div>



        <!-- </div> -->

    </div>


</div>